body{
	background: linear-gradient(to bottom right,#dedede,#bcbcbc);
}
table, th, tr, td{
	border: 1px solid #404040;
	border-collapse: collapse;
	padding: 8px;
	background-color: white;
	text-align: left;
	font-size: 98%;
	font-family: 'Ubuntu', sans-serif;
}

th{
	background-color: #51b400;
	color: white; 
}

hr {
    display: block;
    width:380px;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
    margin-top:-14px;
    margin-bottom:-2px;
}

form{
	margin-bottom:-10px;
}

.data-card{
	background-color:white;
    position: fixed;
	clear:none;
}

.login-container{
	width:400px;
	top:50%;
	left:50%;
	margin-left:-200;
	margin-top: -145;
	padding-bottom:40px;
	padding-top:30px;
	padding-left:30px;
	padding-right:30px;
	overflow:hidden;
}

.login-button{
	background-color:#51b400;
	color: white;
	display:block;
	width:100%;
}

.login-error{
	color:#DC4C46;
	position:relative;
	margin-bottom:10px;
	font-family:'Ubuntu', sans-serif, bold;
}

.login-input{
	width: 100%;
    margin-bottom:20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #e6e6e6;
	color:black;
	background-color:white;
	outline: none;
	transition: border-bottom 0.3s;
}

.login-input:focus{
    border-bottom: 3px solid #666;
    transition: border-bottom 0.3s;
}

.ge-logo{
	width:100%;
	margin-left:-6px;
	margin-bottom:14px
}

.ge-logo-small{
	width:100px;
	display:block;
	margin: 7px auto;
}

.history-tab{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	white-space:normal;
}

.window-titlebar{
	grid-column:1/3;
	height:40px;
	background-color:#51b400;
	color:white;
	padding-left:12px;
	padding-top:10px;
	padding-right:12px;
}

.data-window{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows:minmax(40px, auto); 
	background-color:white;
	width: 100%;
	height:100%;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.window-container{
	height:100%;
	width:100%;
	padding:30px;
	padding-right:180px;
	margin-left:150px;
	padding
}

.navbar{
	z-index:3;
	width:150px;
	font-weight:bold;
	background-color:white;
	height:120%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	overflow:auto;
	position:fixed;
	margin-top:-16px;
}

.nav-btn{
	width:92%;
	background-color:#51b400;
	color:white;
	margin:6px;
	padding:4px;
}

.logout-btn{
	position:fixed;
	bottom:10;
	width:138px;
	height: 40px;
}

.nav-title{
	margin-left:6px
}

.notification{
	opacity: 0;
	padding:10px 6px;
	max-width: 100%;
	position:absolute;
	bottom:38;
	left: 54%;
	transform: translateX(-50%);
	text-align:center;
	font-weight: bold;
	font-size:large;
	color: white; 
	background-color:#51b400;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 	transition: opacity 400ms;
}

.chart-div{
	grid-row:2/3;
	width:calc(50vw - 130px);
	height:calc(40vh - 60px);
	position:relative;
	background-color: white;
	margin-top:20px;
}

.pump-table{
	grid-column:1/3;
	grid-row:3/5;
	justify-self:center;
	z-index: 200;
	margin-top:10px;
}

.pump-img{
	grid-column:1/3;
	align-self:end;
	justify-self:center;
	height:400px;
	margin-bottom: -40px;
}

.pad-left{
	margin-left:10px;
}

.pad-right{
	margin-right:10px;
}

.disconnect-background{
	opacity:0.5;
	z-index:1000;
	position:absolute;
	height:100%;
	width:100%;
	background-color: #555;
}

.disconnect-dialog{
	background-color: white;
	z-index: 1001;
	height:100px;
	width:400px;
	top:50%;
	left:50%;
	margin-top: -50px;
	margin-left: -150px;
	position:absolute;
}

.disconnect-message{
	margin-left:20px;
}

.change-server-dialog{
	padding:6px;
	background-color:blue;
	position:absolute;
	bottom:10;
	right:10;
	display:none
}